/* Provide sufficient contrast against white background */
* {
  color: #343d3a;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
}
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 150px;
  padding: 0 0 10px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
h1 {
  color: #aed6d4;
  font-size: 30px;
}
