footer {
  background-color: #aed6d450;
  border-top: 1px solid #aed6d4;
  text-align: center;
  padding: 20px 20px 0;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  min-height: 60px;
  height: auto;
  width: 100%;
  vertical-align: bottom;
}

footer p {
  margin: 0;
  padding: 10px;
  font-size: 12px;
}

footer hr {
  color: #aed6d4;
}
