.image {
  width: 100%;
  height: 300px;
  background-position: center bottom;
  background-size: cover;
}

#image1 {
  background-image: url('./../../images/slider1.jpg');
}

#content.container {
  max-width: none;
  padding: 0;
}

#Slider .slick-dots {
  margin-bottom: 40px;
}
