#header {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 10;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

.box-shadow {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

#logo {
  height: 40px;
}

.nav-item {
  margin: auto;
}

.navbar-nav a {
  padding: 0 10px;
}
